*{
    margin: 0;
    padding: 0;
}
body{
font-family: 'Inter';
display: flex;
background: #1A1C1E;
}
.side-menu{
    background: #2F3338;
    width: 309.89px;
    padding:35px 22px 32px 22px;
}
.logo-wrapper{
    padding: 30px 0;
}
.bitcoin-statistics{
    display: flex;
align-items: center;
}
.white-text{
font-weight: 400;
font-size: 14.7917px;
line-height: 18px;
color: #FFFFFF;
}
.gray-text{
color: #A2A3A4;
margin-right: 118px;
}
.box-item-wrapper{
    display: flex;
    align-items: flex-end;
    gap: 30px;
}
.box{
    width: 264.77px;
    height: 144.22px;
    background: #3F444E;
    border-radius: 27.3646px;
    padding: 30px 22px;
}
.small-gray-text{
font-weight: 400;
font-size: 8.875px;
line-height: 11px;
color: #A2A3A4;
padding: 7px 0;
}
.amount-wrapper{
    display: flex;
    align-items: center;
    gap: 15px;
    padding-top: 20px;
}
.amount{
font-family: 'Quicksand';
font-weight: 600;
font-size: 17.75px;
line-height: 22px;
color: #FFFFFF;
}
.active{
    background: #3F444E;
    border-radius: 11.0937px;
    padding: 16px 100px 17px 30px;
    margin-top: 20px;
}
.item{
    display: flex;
    align-items: center;
    padding: 16px 20px 17px 30px;
    position: relative;
}
.bordered{
    border-bottom: 0.739583px solid #B3B3B3;
    padding-bottom: 20px;
}
.wallet-item{
display: flex;
align-items: center;
gap: 9px;
padding: 15px 0;
}
.wallet-items{
    display: flex;
    gap: 16px;
    padding: 13px 0;
}
.tool-wrapper-item{
    display: flex;
    align-items: center;
    gap: 9px;
    padding: 13px 0;
}
.mode-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input-search{
border:none;
background: #2F3338;
height: 30px;
width: 318px;
}
.left-content{
    border-radius: 9px;
    border: 1.10937px solid #A2A3A4;
    padding:  7px   81px 9px  9px ;
    background: #2F3338;
    margin-left: 30px;
display: flex;
align-items: center;
}

.content-header{
    background: #2F3338;
    margin-left: 2px;
    display: flex;
    justify-content: space-between;
gap: 100px;
padding: 45px 36px;
}
.right-content{
    display: flex;
    gap: 40px;
}
.text-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 90px;
    margin-left: 30px;  
    margin-right: 36px;
    margin: 5px 36px 0 30px;
}

.icon-wrapper{
    display: flex;
    align-items: center;
    margin-top: 12px;
}
.bordered-text{
    border: 0.739583px solid #959799;
border-radius: 9.61458px;
padding: 9px 35px 9px 15px;
display: flex;
align-items: center;
gap: 15px;
}

.white-title{
font-weight: 600;
font-size: 14.7917px;
line-height: 18px;
display: flex;
align-items: center;
color: #FFFFFF;
padding-top: 12px;
}
.arrow-wrapper{
    display: flex;
    gap: 8px;
}
.card{
    width: 177.5px;
background: #3F444E;
border-radius: 27.3646px;
}
.img-text-wrapper{
    display: flex;
    align-items: end;
    justify-content: space-between;
}
.price-item{
    display: flex;
}
.price-wrapper{
    display: flex;
    align-items: end;
justify-content: space-between;
}
.card-text{
    text-align: end;
}
.card-item{
    display: flex;
    justify-content: space-between;
}
.wrapper{
    padding: 15px;
}
.icon-text{
    display: flex;
    align-items: center;
    gap: 7px;
}
.card-items-wrapper{
    display: flex;
    gap: 90px;
    margin: 30px;
}
.img-card{
    border-top-left-radius:20px;
    border-top-right-radius:20px;
}
.card-4{
    width: 177px;
    height: 145px;
}
.title-line{
    display: flex;
    align-items: end;
 justify-content: space-between;
 padding: 20px 30px;
}
.gray{
 font-style: normal;
font-weight: 400;
font-size: 11.8333px;
line-height: 14px;
text-align: end;
color: #A2A3A4;
padding-right: 250px;
padding-left: 150px;
}
.box2{
    display: flex;
    gap: 125px;
}
.bordered-text2{
border: 0.739583px solid #ECECEC;
border-radius: 9.61458px;
padding: 7px 16px;
font-style: normal;
font-weight: 500;
font-size: 8.875px;
line-height: 11px;
display: flex;
gap: 15px;
align-items: center;
color: #ECECEC;
margin: 16px 23px;
}
.gray-box{
background: #3F444E;
border-radius: 27.3646px;
width: 378.67px;
margin: 30px;
}
.gray-box2{
    background: #3F444E;
    border-radius: 27.3646px;
    width: 285.48px;
    padding: 10px 23px 20px;
     height: 230.24px;
}
.box3{
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-bottom: 0.739583px solid #A2A3A4;
    padding: 8px 0;
}
.box4{
    display: flex;
    gap: 24px;
    align-items: center;
}
.box-item{
    display: flex;
    align-items: center;
    gap: 7px;
}